{% extends 'base.html' %}

{% block menu %}<li><a href="{% url "add_good" %}">Добавить товар</a></li>{% endblock menu %}
{% block title %}Все товары{% endblock title %}
{% block page_header %}Товары{% endblock page_header %}
{% block content %}
    {% if not good %}
        <h2>Нету товара</h2>
    {% endif %}
    {% for good in good %}
        {% if good.remainder != 0 and good.category != 'old' %}

        <p>{{ good.id }}: <a href="{% url "see_good" good.id %}">{{ good.name }}</a></p>
        {% endif %}

    {% endfor %}
{% endblock content %}

