{% extends 'base.html' %}


{% block content %}
    {% if not carts %}
        <h2>Нету товара в корзинке</h2>



    {% else %}
{#        {% for cart in carts %}#}
{#            <p>товар: {{ cart.good.name }}|||количество {{ cart.count }} сумма: </p>#}
{#            <p>{{ cart.get_total }}</p>#}
{##}
{#        {% endfor %}#}



           <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Название</th>
      <th scope="col">количество</th>
        <th scope="col">сумма</th>
    </tr>
  </thead>
      <tbody>
                     {% for cart in carts %}
                           <tr>


                            <th>{{ cart.good.name }}</th>
                            <td>{{ cart.count }}</td>
                           <td>{{ cart.get_total  }}</td>
                           <td><a href="{% url "del_from_cart" cart.id %}">удалить  с корзинку</a></td>

                          </tr>
                     {% endfor %}
      </tbody>
</table>
        <h4> Общая сумма{{ total }}</h4>
{% endif %}
    <form action="{% url 'checkout' %}" method="post">
    {% csrf_token %}
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Имя</label>
  <input type="text" class="form-control" name="name" id="exampleFormControlInput1" placeholder="name">
</div>

    <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">address</label>
  <input type="text" class="form-control" name="adress" id="exampleFormControlInput1" placeholder="address">
</div>
    <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Телефон</label>
  <input type="text" class="form-control" name="phonenumber" id="exampleFormControlInput1" placeholder="phone">
</div>

    <button type="submit" class="btn btn-outline-success">Оформить заказ!</button>
    </form>
{%  endblock content %}